
<div class="origin">

<!--     <mat-nav-list>
        <mat-list-item *ngFor="let link of fillerNav">
            <a matLine href="...">{{ link }}</a>
            <button mat-icon-button (click)="showInfo(link)">
                <mat-icon>info</mat-icon>
            </button>
        </mat-list-item>
    </mat-nav-list> -->

    <div class="header">
        Albums
    </div>


    <mat-action-list *ngFor="let name of albumNames">
        <button mat-list-item (click)="selectecAlbum(name)"> {{ name }} </button>
    </mat-action-list>
</div>