.sidebar{
    width: 19.8%;
    height: 500px;
    position: fixed;

    float: left;
}
.container{
    width: 80%;
    margin-left: 20%;

    float: left;
}
.album-header{
    
    background-color: black;
}
.album-header-title{
    padding-top: 5%;
    padding-left: 5%;

    color: white;
    font: 500 6vw Roboto,"Helvetica Neue",sans-serif;
}
.album-header-year{
    padding-left: 5%;

    color: lightgrey;
    font: 500 2.5vw Roboto,"Helvetica Neue",sans-serif;
}
.album-header-info{
    width: 90%;
    padding-top: 5%;
    padding-left: 5%;

    color: grey;
    font: 500 2.5vw Roboto,"Helvetica Neue",sans-serif;
}
.album-header-photo img{
    width: 90%;
    height: auto;
    padding-top: 5%;
    padding-left: 5%;
    padding-bottom: 15%;
    text-align: center;
}

.album-musicians{
    
    background-color: grey;
    padding-bottom: 15%;
}
.album-musicians-head{
    padding-top: 5%;
    padding-left: 5%;
    padding-bottom: 5%;
    
    color: black;
    font: 500 6vw Roboto,"Helvetica Neue",sans-serif;
}
.album-musicians-title{
    padding-top: 5%;
    padding-left: 5%;

    color: lightgray;
    font: 500 4vw Roboto,"Helvetica Neue",sans-serif;
}
.album-musicians-info{
    width: 90%;
    padding-top: 2%;
    padding-left: 5%;

    color: white;
    font: 100 2vw Roboto,"Helvetica Neue",sans-serif;
}

.album-songs{
    
    border-left: 1px solid grey;
    padding-bottom: 15%;
}
.album-songs-head{
    padding-top: 5%;
    padding-left: 5%;
    
    color: black;
    font: 500 6vw Roboto,"Helvetica Neue",sans-serif;
}
.album-songs-title{
    padding-top: 15%;
    padding-left: 5%;

    color: black;
    font: 500 4vw Roboto,"Helvetica Neue",sans-serif;
}
.album-songs-songwriters{
    padding-top: 5%;
    padding-left: 5%;

    color: grey;
    font: 500 2.5vw Roboto,"Helvetica Neue",sans-serif;
}
.album-songs-length{
    padding-top: 2%;
    padding-left: 5%;

    color: grey;
    font: 500 2.5vw Roboto,"Helvetica Neue",sans-serif;
}
.album-songs-lyrics{
    width: 90%;
    padding-top: 5%;
    padding-left: 5%;

    color: black;
    font: 100 2vw Roboto,"Helvetica Neue",sans-serif;
}

.album-home{
    
    background-color: black;
}